.gclient
.gclient_entries
/.cipd/
/.vs/
/pdfium-windows-x64-v8/
/pdfium-windows-x86-v8/
/staging/
/example/out/
/*.zip
/pdfium/
/depot_tools/
/packaging/win-x64/content/x64/
/packaging/win-x86/content/x86/
*.nupkg
